.App {
    text-align: center;
    /* color: aliceblue; */
}

body {
    margin: 0;
    padding: 0;
    /* color: aliceblue; */
    /* background-color: #b9bb2e; */
}

.full {
    display: flex;
    width: 100vw;
    height: 100vh;
    /* background-color: #ff0000;
    background-image: url('./assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    position: relative; */
}

/* Remove all unused styles below */


