.App {
    text-align: center;
    background-color: #333333;
    color: aliceblue;
}

body {
    /* background-color: #ebebeb; */
    margin: 0px;
    padding: 0px;
    background-color: #333333;
    color: aliceblue;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #ff1b1b;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(231, 231, 231);
}

.App-link {
    color: #20ff0b;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



.full{
    display: flex;
    /* flex-direction: row; */
    /* height: 95vh; */
    width: 1920px;
    height: 515px;
    padding: 0;
    margin: 0;
}

.carplay{
    display: flex;
    /* height: 95vh; */
    width: 1373px;
    height: 515px;
    padding: 0;
    margin: 0;
    background-color: #20ff0b;
}

.setup{
    /* display: flex; */
    /* height: 95vh; */
    width: 547px;
    height: 515px;
    padding: 0;
    margin: 0;
    background-color: #ff1b1b;
}
